[Steam]
# Please replace the value below with your 64-bit SteamID.
# You can find your SteamID using sites like https://www.steamidfinder.com/
# Your Steam inventory must be set to "Public" in your Steam privacy settings for this application to work.
steam_id = YOUR_STEAM_ID_HERE

[Settings]
# Set to "true" to use a hardcoded list of skins for testing purposes.
# This is useful if your inventory is small or contains non-marketable items.
use_test_inventory = false
